doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Jaringan Komputer

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h2 How Firewall Works 
        h2 & 
        h2 How to Configurate (Preferred IPTables)
        p  Presented by    
        ul        
            li
            li Surya Prima Siregar (131112021)
            li Heriyanto (131110739)
            li Santoso (131110054)
      section
        h2 Introduction 
        ul      
        p Setting up a good firewall is an essential step to take in securing any modern operating system. Most Linux distributions ship with a few different firewall tools that we can use to configure our firewalls. In this guide, we'll be covering the iptables firewall.
         
        p Iptables is a standard firewall included in most Linux distributions by default (a modern variant called nftables will begin to replace it). It is actually a front end to the kernel-level netfilter hooks that can manipulate the Linux network stack. It works by matching each packet that crosses the networking interface against a set of rules to decide what to do.

        p In this guide we will discuss how iptables works. In the next article in the series, we'll show you how to configure a basic set of rules to protect your Ubuntu 14.04 server.
      
      section
        p Setting up a good firewall is an essential step to take in securing any modern operating system. Most Linux distributions ship with a few different firewall tools that we can use to configure our firewalls. In this guide, we'll be covering the iptables firewall.

      section
        h2 Cara Kerja Firewall
        ul
        p Semua komunikasi jaringan melewati firewall,Hanya lalu lintas data dari jaringan terpercaya yang diperbolehkan lewat oleh firewall dan Firewall memiliki kemampuan melindungi komputer dari serangan berbahaya yang berasal dari internet

      section
        h2 fungsi firewall
        ul
        li Firewall komputer bertugas menutup port-port tersebut kecuali beberapa port yang perlu tetap terbuka.
        li Firewall di komputer bertindak sebagai garis pertahanan pertama dalam mencegah semua jenis hacking.
        li Firewall berguna menjaga informasi rahasia dan berharga agar tidak keluar tanpa diketahui oleh pengguna.
        li Kegunaan penting lain dari firewall adalah untuk memodifikasi paket data yang datang melalui firewall.


      section
        h2 Karakteristik Firewall
        ul
          li 1.Seluruh hubungan/kegiatan dari dalam ke luar , harus melewati firewall. Hal ini dapat dilakukan dengan cara memblok/membatasi baik secara fisik semua akses terhadap jaringan Lokal, kecuali melewati firewall. Banyak sekali bentuk jaringan yang memungkinkan
          li 2.Hanya Kegiatan yang terdaftar/dikenal yang dapat melewati/melakukan hubungan, hal ini dapat dilakukan dengan mengatur policy pada konfigurasi keamanan lokal. Banyak sekali jenis firewall yang dapat dipilih sekaligus berbagai jenis policy yang ditawarkan.
          li 3.Firewall itu sendiri haruslah kebal atau relatif kuat terhadap serangan/kelemahan. hal ini berarti penggunaan sistem yang dapat dipercaya dan dengan Operating system yang relatif aman.

      section
        h2 Teknik yang digunakan oleh firewall
        ul
        li 1.Service control (kendali terhadap layanan)
        berdasarkan tipe-tipe layanan yang digunakan di Internet dan boleh diakses baik untuk kedalam ataupun keluar firewall. 
        li 2.Direction Control (kendali terhadap arah)
        berdasarkan arah dari berbagai permintaan (request) terhadap layanan yang
        akan dikenali dan diijinkan melewati firewall.
        li 3.User control (kendali terhadap pengguna)
        berdasarkan pengguna/user untuk dapat menjalankan suatu layanan, artinya ada user yang dapat dan ada yang tidak dapat menjalankan suatu servis,hal ini di karenakan user tersebut tidak di ijinkan untuk melewati firewall.
        li 4.Behavior Control (kendali terhadap perlakuan)
        berdasarkan seberapa banyak layanan itu telah digunakan. Misal, firewall dapat memfilter email untuk menanggulangi/mencegah spam.


      section
        h2 tipe-tipe firewall
        ul
        li 1.Packet Filtering Router
        Filtering diaplikasikan dengan cara mengatur semua packet IP baik yang menuju, melewati atau akan dituju oleh packet tersebut.pada tipe ini packet tersebut akan diatur apakah akan di terima dan diteruskan.
        li 2.Application-Level Gateway
        Application-level Gateway yang biasa juga di kenal sebagai proxy server yang berfungsi untuk memperkuat/menyalurkan arus aplikasi.
        li 3.Circuit-level Gateway
        Tipe ketiga ini dapat merupakan sistem yang berdiri sendiri , atau juga dapat merupakan fungsi khusus yang terbentuk dari tipe application-level gateway.tipe ini tidak mengijinkan koneksi TCP end to end (langsung)


      section
        h2 Cara mengatur Firewall Linux
        li Pertama silahkan buka terminal Ubuntu anda dan silahkan ketik :
        li Untuk menonaktifkan firewall :
        li sudo ufw disable
        li Untuk mengaktifkan firewall :
        li sudo ufw enable
        li Untuk mengecek status firewall :
        li sudo ufw status
        li Untuk mengatur default policy Deny :
        li sudo ufw default deny
        li Untuk mengatur default policy Allow :
        li sudo ufw default allow


      section
        h2 Konfigurasi firewall sederhana menggunakan shorewell
        p Shorewall adalah salah satu tools firewall pada linux yang berbasiskan iptables. Shorewall terdapat konsep “zone” yang memudahkan kita untuk menentukan policy firewall, daripada kita melakukan konfigurasi secara manual dengan iptables.Maka untukmemudahkan kita, asumsikan saja ada 3 zona yang dapat di definisikan, yaitu : 
        ul
        li 1. LAN, yaitu jaringan lokal, kita definisikan sebagai zona lok
        li 2. Internet, yaitu koneksi kita ke internet, kita definisikn sebagai zona net
        li 3. Komputer Firewall kita secara otomatis bernama zona $FW
        
        
      section
        h2 IPTables Overview
        p The power and flexibility of Netfilter is implemented through the iptables interface. This command line tool is similar in syntax to its predecessor, ipchains;.However iptables uses the Netfilter subsystem to enhance network connection,inspection, and processing.
        
        
        
        section
        h2 Saving and Restoring iptables Rules
        p Firewall rules are only valid for the time the computer is on; so, if the system is rebooted, the rules are automatically flushed and reset.
        To save the rules so that they are loaded later, use the following command:
        ul
        li /sbin/service iptables save
        p The rules are stored in the file /etc/sysconfig/iptables and are applied whenever the service is started or restarted, including when the machine is rebooted
           